*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #eaebf0, #cbace4);
    overflow: hidden;
}


form{
    width: 380px;
    padding: 35px;
    border-radius: 20px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
    animation: aparecer 1s ease;
    transition: transform 0.3s ease;
}


label{
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    color: rgb(39, 38, 41);
    font-size: 15px;
    font-weight: 600;
}


input,
select{
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 15px;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.9);
}


input:focus,
select:focus{
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(224, 230, 135, 0.719);
}


#button{
    margin-top: 25px;
    background: linear-gradient(45deg, #c42fff, #a924dd);
    color: white;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.4s ease;
}

#button:hover{
    transform: translateY(-1.5px);
    box-shadow: 0 8px 20px rgba(238, 231, 171, 0.548);
}

#button:active{
    transform: scale(0.75);
}


@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


@media(max-width: 450px){
    form{
        width: 90%;
        padding: 25px;
    }
}